__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
# IDE settings
.vscode/
.idea/
*.iml
.DS_Store

data/
datasets/
outputs/
models/
cache/
artifacts/
figures/

*.joblib
*.parquet
*.db
*.sqlite

.env

# modely (ideálně LFS)
*.pt
*.pth
*.ckpt
*.onnx
