__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.logs/
logs/
venv/
env/
.venv_linux/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.hypothesis/
.tox/
# IDE settings
.vscode/
.idea/
*.iml
.DS_Store

data/
!src/
!src/crypto_analyzer/
!src/crypto_analyzer/data/
!src/crypto_analyzer/data/schema.py
datasets/
outputs/
reports/
/runs/
/logs/
/ml/
/models/
cache/
artifacts/
figures/

*.joblib
*.parquet
*.db
*.sqlite

.env

# modely (ideálně LFS)
*.pt
*.pth
*.ckpt
*.onnx
