structlog==24.4.0
python-dotenv==1.0.1
numpy==2.1.1
pandas==2.2.2
scipy==1.13.1
scikit-learn==1.5.1
xgboost==2.1.1
shap==0.46.0
numba==0.60.0
requests==2.32.3
pydantic==2.8.2
python-dateutil==2.9.0.post0
tqdm==4.66.5
pyarrow==17.0.0
matplotlib==3.9.1
joblib==1.4.2
PyYAML==6.0.2
fastapi==0.114.1
uvicorn==0.30.6
httpx==0.27.0
ta==0.10.3
torch==2.4.1
psutil==6.0.0

# Tooling
vulture==2.11

# Type stubs for static analysis
pandas-stubs==2.2.2.240807
types-requests==2.32.0.20240712
joblib-stubs==1.4.2.2
scikit-learn-stubs==1.5.0.5
types-tqdm==4.66.0.20240417
types-PyYAML==6.0.12.20240808
